/* src/css/Main.css */

/* Contêiner Centralizado */
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(
    --background-light
  ); /* Fundo claro no conteúdo central */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar o conteúdo */
}

/* Destaque */

.destaque {
  background: url("https://fastly.picsum.photos/id/365/5000/3333.jpg?hmac=M1aXqtBS7ltRDXnFQkWDpTq7yOJ5DzGERcEv_S38UkY")
    no-repeat center center/cover;
  text-align: center;
  color: var(--background-red-light);
  padding: 1rem;
  height: auto; /* Cresce conforme o conteúdo */
  width: auto;
  min-height: 200px; /* Altura mínima para evitar colapsar */
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
}

.destaque-content h1 {
  color: var(--background-black);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgb(251, 251, 251);
}

.destaque-content p {
  color: var(--background-dark);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgb(251, 251, 251);
}
.destaque-content button,
.destaque-content a {
  padding: 10px 20px;
  cursor: pointer;
  background: var(--background-red-light);
  color: var(--background-white);
  border: 1px solid var(--background-white);
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.destaque-content a:hover,
.destaque-content button:hover {
  background: var(--background-white);
  color: var(--background-red-light);
  border: 1px solid var(--background-red-light);
  text-decoration: none;
  transition: background 0.3s ease;
}

/* Serviços */
.servicos {
  padding: 80px 20px;
  text-align: center;
}

.servicos-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.servico {
  background: var(--background-white);
  width: 100%;
  max-width: 300px; /* Define um tamanho máximo para os cards */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.servico:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.servico img {
  width: 100%; /* Faz a imagem ocupar toda a largura do card */
  max-width: 100%; /* Garante que a imagem não ultrapasse os limites do container */
  height: 200px; /* Mantém uma altura uniforme */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.servico:hover img {
  transform: scale(1.05);
}

.servico h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.servico p {
  font-size: 16px;
  color: var(--background-grey-lighter);
}

.servico-link {
  text-decoration: none; /* Remove o sublinhado do link */
  color: inherit; /* Mantém a cor do texto original */
  display: block; /* Faz o link ocupar todo o espaço do card */
}

.servico-link:hover {
  text-decoration: none; /* Remove o sublinhado ao passar o mouse */
}

/* Sobre, Depoimentos, Contato */
.depoimentos,
.contato {
  padding: 80px 20px;
  text-align: center;
}

.sobre {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.sobre-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.sobre-conteudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.sobre-texto {
  flex: 1;
  margin-right: 20px;
}

.sobre-texto p {
  margin-bottom: 20px;
  color: #333;
}

.sobre-texto ul {
  list-style-type: none;
  padding: 0;
}

.sobre-texto ul li {
  margin-bottom: 10px;
  color: #666;
}

.sobre-image {
  flex: 1;
  text-align: center;
}

.sobre-image img {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.depoimentos-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.depoimento {
  background: var(--background-white);
  width: 100%;
  max-width: 300px; /* Define um tamanho máximo para os cards */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.depoimento img {
  width: 100%; /* Faz a imagem ocupar toda a largura do card */
  max-width: 100%; /* Garante que a imagem não ultrapasse os limites do container */
  height: 180px; /* Mantém uma altura uniforme */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.depoimento:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.depoimento p {
  font-size: 16px;
  color: var(--background-grey-lighter);
  margin-bottom: 10px;
}

.depoimento span {
  font-size: 14px;
  color: var(--background-red-light);
}

.contato {
  background-color: var(--background-light);
}

.contato form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contato-input-group {
  margin-bottom: 15px;
}

.contato-input-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.contato-input-group input,
.contato-input-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--background-red-light);
}

.contato-input-group textarea {
  resize: vertical;
  height: 150px;
}

.contato-input-group input:focus,
.contato-input-group textarea:focus {
  border-color: #d81b60; /* Dourado para foco */
  outline: none;
  box-shadow: 0 0 5px #d81b60;
}

/* Botões da main contato*/
.Button-contato {
  width: 100%;
}
.contato button {
  padding: 10px 20px;
  margin-bottom: 5px;
  width: 100%;
  background: var(--background-grey-lighter);
  color: var(--background-white);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}
.contato button:hover {
  background: var(--background-red-light);
}
.contato button[type="reset"]:hover {
  background: var(--background-grey-medium);
}
.contato button:focus {
  border-color: #d81b60;
  outline: none;
  box-shadow: 0 0 5px #d81b60;
}

/* Mensagem do form de contato*/
.input-error {
  border: 2px solid #ff4d4d; /* Cor de borda vermelha para indicar erro */
  background-color: #ffe6e6; /* Fundo levemente vermelho */
}

.error-message {
  font-size: 14px;
  color: var(--rosa-light);
  margin-top: 5px;
  text-align: left;
}
.success-message {
  font-heigth: small;
  color: var(--background-red-light);
  text-align: left;
}

/* Responsividade */

@media (min-width: 1025px) {
  .destaque {
    background-position: center 70%; /* Ajuste para garantir que a imagem se encaixe bem em telas maiores */
    align-items: center;
    min-height: 300px; /* Define a altura mínima para telas grandes */
    padding: 0.5rem;
  }
  .sobre-container {
    width: 100%; /* Define a largura da sobre-container para 100% em telas grandes */
  }
  .contato-input-group input,
  .contato-input-group textarea {
    font-size: 16px; /* Define o tamanho da fonte para inputs e textareas */
  }
}

@media (max-width: 1024px) {
  .destaque {
    background-position: center 50%; /* Ajusta a posição da imagem para telas menores */
    min-height: 150px; /* Define a altura mínima para telas menores */
    padding: 0.7rem; /* Ajusta o padding para telas menores */
  }

  .destaque-content h1 {
    font-size: 30px;
  }
  .destaque-content p {
    font-size: 20px;
  }
  .destaque-content button,
  .destaque-content a {
    padding: 9px 12px;
  }
  .servico,
  .depoimento,
  .sobre-container {
    width: 90%; /* Torna o card mais adaptável em telas menores */
  }

  .servicos-grid {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .servico img {
    height: 180px; /* Ajusta a altura para telas menores */
  }

  .depoimentos-grid {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .depoimento img {
    height: 150px; /* Ajusta a altura para telas menores */
  }
  .contato form {
    width: 90%;
    max-width: 100%;
  }
  .contato-input-group input,
  .contato-input-group textarea {
    font-size: 14px; /* Ajusta o tamanho da fonte para inputs e textareas em telas menores */
  }
}
