.trabalhe-conosco-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(
    --background-light
  ); /* Fundo claro no conteúdo central */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar o conteúdo */
}

.trabalhe-box {
  background-color: var(--background-light);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 900px;
  text-align: center;
}

.trabalhe-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.trabalhe-input-group {
  margin-bottom: 15px;
}

.trabalhe-input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;

  text-align: left;
}

.trabalhe-input-group input,
.trabalhe-input-group textarea,
.trabalhe-input-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--background-red-light);
}

/* Esconde o campo de input original */
.trabalhe-input-group input[type="file"] {
  display: none;
}

/* Estilo do botão personalizado */
.trabalhe-input-group .custom-file-upload {
  display: inline-block;
  background-color: var(--background-red-light);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.trabalhe-input-group .custom-file-upload:hover {
  background-color: var(--background-red);
}

/* Exibir o nome do arquivo selecionado */
.trabalhe-input-group .file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.trabalhe-input-group textarea {
  height: 80px;
  resize: vertical;
}

.trabalhe-button button {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background: var(--background-grey-lighter);
  color: var(--background-white);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.trabalhe-button button:hover {
  background-color: #c32b6b;
}

.trabalhe-button button:hover {
  background: var(--background-red-light);
}
.trabalhe-button button[type="reset"]:hover {
  background: var(--background-grey-medium);
}

/* focus do input e button*/
.trabalhe-input-group input:focus,
.trabalhe-input-group .custom-file-upload:focus,
.trabalhe-input-group textarea:focus,
.trabalhe-input-group select:focus,
.trabalhe-button button:focus {
  border-color: var(--rosa-medium); /* Dourado para foco */
  outline: none;
  box-shadow: 0 0 5px var(--rosa-medium);
}
/*mensagens*/

.error {
  color: #ff0000;
  margin-bottom: 10px;
  text-align: center;
}

.input-error-file {
  color: var(--input-error) !important; /* Fundo levemente vermelho */
}

.input-error {
  border: 1px solid var(--error-message) !important; /* Cor de borda vermelha para indicar erro */
  background-color: var(
    --input-error
  ) !important; /* Fundo levemente vermelho */
  padding-right: 30px; /* Para dar espaço ao ícone */
}

.input-error::after {
  content: "❗" !important;
  color: var(--error-message);
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.error-message {
  font-size: 14px;
  color: var(--error-message);
  margin-top: 5px;
  text-align: left;
}
.sucess-message {
  font-size: 14px;
  color: var(--sucess-message);
  text-align: left;
  margin-top: 5px;
}

@media (max-width: 1024px) {
  .trabalhe-box {
    width: 90%;
  }
}
